@font-face {
    font-family: 'Windsor BT Roman';
    font-style: normal;
    font-weight: normal;
    src: local('../css/fonts/Windsor BT Roman'), url('../css/fonts/WindsorBTRoman.woff') format('woff');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Windsor BT Roman';
}

.loading {
    width: 800px;
    top: 50%;
    animation-name: goingUp;
    animation-delay: 0.5s;
    animation-duration: 6s;
    opacity: 0;
}

.rocket {
    width: 8em;
    position: absolute;
    left: 80vw;
    top: 10%;
    animation: 0.5s goingDown 2s, upanddown 2s alternate infinite, 0.5s loading 0.5s forwards;
    opacity: 0;
}

#left-fire_1_2 {
    opacity: 0;
}

#right-fire_1_2 {
    opacity: 0;
}
 /*bron: https://css-tricks.com/parallax-background-css3/ */
#background {
    background: black url(../images/background.png) repeat 5% 5%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 100;
    animation-name: starmoving;
    animation-duration: 200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1 {
    font-size: 10em;
    opacity: 0;
    animation: loading 0.5s forwards;
}

h2 {
    font-size: 2em;
    opacity: 0;
    animation: 0.5s loading 0.5s forwards;
}

.circle {
    position: absolute;
    width: 100vh;
    z-index: 1;
    opacity: 0;
    animation: 0.5s loading 0.5s forwards;
    transform: translate(10%, 0%);
}

circle.moveright {
    opacity: 1;
    animation: movingright 4s forwards;
}

img {
    width: 100vh;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    opacity: 0;
    animation: 0.5s loading 0.5s forwards;
    z-index: 5;
}

img.kleur {
    content: url(../images/earth_PNG39.png);
    width: 100vh;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    z-index: 5;
}

img.draaiRechts {
    width: 100vh;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    animation: 5s draaienRechts linear 1;
    z-index: 5;
    opacity: 1;
}

img.draaiLinks {
    width: 100vh;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    animation: 5s draaienLinks linear 1;
    z-index: 5;
    opacity: 1;
}

h3 {
    font-size: 1em;
    opacity: 0;
    animation: 2s loading 0.5s forwards;
}

h3:hover::after {
    cursor: pointer;
    content: ' \2191';
}

/*animations*/
@keyframes loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes goingUp {
    0% {}
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@keyframes goingDown {
    0% {
        opacity: 1;
        transform: translateY(-1000%);
    }
    100 {
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes upanddown {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(35%);
    }
}

@keyframes starmoving {
    from {
        background-position: 5% 5%
    }
    to {
        background-position: 1300% 600%
    }
}

@keyframes movingright {
    from {
        transform: translate(10%, 0%);
    }
    to {
        transform: translate(100%, 0%);
    }
}

@keyframes draaienRechts {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes draaienLinks {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(-360deg);
        opacity: 1;
    }
}

/*responsive*/

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 7em;
    }

    .rocket {
        left: 80vw;
    }

    .circle {
        width: 70vh;
        transform: translate(10%, 0%);
    }

    img {
        width: 70vh;
    }

    img.kleur {
        content: url(../images/earth_PNG39.png);
        width: 70vh;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
        z-index: 5;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 5em;
    }

    .rocket {
        left: 80vw;
    }

    .circle {
        width: 50vh;
        transform: translate(10%, 0%);
    }

    img {
        width: 50vh;
    }

    img.kleur {
        content: url(../images/earth_PNG39.png);
        width: 50vh;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
        z-index: 5;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 3em;
    }

    .rocket {
        left: 80vw;
    }

    .circle {
        width: 30vh;
        transform: translate(10%, 0%);
    }

    img {
        width: 30vh;
    }

    img.kleur {
        content: url(../images/earth_PNG39.png);
        width: 30vh;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
        z-index: 5;
    }
}
